<!DOCTYPE html>
<!-- 
Template Name: Trade Coin - Digital Exchange HTML Template 
Version: 1.0.0
Author: Kamleshyadav
Website: 
Purchase: 
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <meta name="description" content="">
    <meta name="keywords" content="	advisor, analytical, audit, broker, brokerage, business, company, consulting, currency, exchange, finance, financial, insurance, modern, trader">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font.css">
    <link rel="stylesheet" type="text/css" href="assets/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="icon" type="image/png" href="assets/images/fav.png"/>
</head>
<body>
<div class="me-main-wraper">
    <!-- top header -->
    <div class="me-top-header">
        <div class="container">
            <div class="me-top-head">
                <div class="me-top-header-left">
                    <ul>
                        <li>Follow Us :</li>
                        <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="me-top-header-right">
                    <ul>
                        <li><i class="far fa-envelope-open"></i> hndai.17ck1@gmail.com</li>
                        <li><i class="fas fa-mobile-alt"></i>0522621678</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- main header -->
    <div class="me-main-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-7">
                    <div class="me-logo">
                        <a href="/"><img src="assets/images/logo.svg" alt="logo" class="img-fluid"/></a>
                    </div>
                </div>
                <div class="col-sm-9 col-5">
                    <div class="me-menu">
                        <a href="javascript:;" class="me-login-menu" data-toggle="modal" data-target="#meLogin">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Account -->
    <div class="me-my-account me-padder-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="me-my-account-profile">
                        <div class="me-my-profile-head">
                            <div class="me-profile-name">
                                <h4>My profile : Hoang Nguyen Dai</h4>
                                <p>Last login: 24 Dec 2019, 4:00pm</p>
                                <p>California, America (USA)</p>
                            </div>
                            <div class="me-my-profile-img">
                                <div class="me-my-profile-img-main">
                                    <img src="https://via.placeholder.com/85x85" class="img-fluid" alt="image">
                                    <div class="me-my-profile-svg" data-toggle="modal" data-target="#me-profile-modal">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.25 55.25">
                                        <path d="M52.618,2.631c-3.51-3.508-9.219-3.508-12.729,0L3.827,38.693C3.81,38.71,3.8,38.731,3.785,38.749
                                            c-0.021,0.024-0.039,0.05-0.058,0.076c-0.053,0.074-0.094,0.153-0.125,0.239c-0.009,0.026-0.022,0.049-0.029,0.075
                                            c-0.003,0.01-0.009,0.02-0.012,0.03l-3.535,14.85c-0.016,0.067-0.02,0.135-0.022,0.202C0.004,54.234,0,54.246,0,54.259
                                            c0.001,0.114,0.026,0.225,0.065,0.332c0.009,0.025,0.019,0.047,0.03,0.071c0.049,0.107,0.11,0.21,0.196,0.296
                                            c0.095,0.095,0.207,0.168,0.328,0.218c0.121,0.05,0.25,0.075,0.379,0.075c0.077,0,0.155-0.009,0.231-0.027l14.85-3.535
                                            c0.027-0.006,0.051-0.021,0.077-0.03c0.034-0.011,0.066-0.024,0.099-0.039c0.072-0.033,0.139-0.074,0.201-0.123
                                            c0.024-0.019,0.049-0.033,0.072-0.054c0.008-0.008,0.018-0.012,0.026-0.02l36.063-36.063C56.127,11.85,56.127,6.14,52.618,2.631z
                                            M51.204,4.045c2.488,2.489,2.7,6.397,0.65,9.137l-9.787-9.787C44.808,1.345,48.716,1.557,51.204,4.045z M46.254,18.895l-9.9-9.9
                                            l1.414-1.414l9.9,9.9L46.254,18.895z M4.961,50.288c-0.391-0.391-1.023-0.391-1.414,0L2.79,51.045l2.554-10.728l4.422-0.491
                                            l-0.569,5.122c-0.004,0.038,0.01,0.073,0.01,0.11c0,0.038-0.014,0.072-0.01,0.11c0.004,0.033,0.021,0.06,0.028,0.092
                                            c0.012,0.058,0.029,0.111,0.05,0.165c0.026,0.065,0.057,0.124,0.095,0.181c0.031,0.046,0.062,0.087,0.1,0.127
                                            c0.048,0.051,0.1,0.094,0.157,0.134c0.045,0.031,0.088,0.06,0.138,0.084C9.831,45.982,9.9,46,9.972,46.017
                                            c0.038,0.009,0.069,0.03,0.108,0.035c0.036,0.004,0.072,0.006,0.109,0.006c0,0,0.001,0,0.001,0c0,0,0.001,0,0.001,0h0.001
                                            c0,0,0.001,0,0.001,0c0.036,0,0.073-0.002,0.109-0.006l5.122-0.569l-0.491,4.422L4.204,52.459l0.757-0.757
                                            C5.351,51.312,5.351,50.679,4.961,50.288z M17.511,44.809L39.889,22.43c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0
                                            L16.097,43.395l-4.773,0.53l0.53-4.773l22.38-22.378c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L10.44,37.738
                                            l-3.183,0.354L34.94,10.409l9.9,9.9L17.157,47.992L17.511,44.809z M49.082,16.067l-9.9-9.9l1.415-1.415l9.9,9.9L49.082,16.067z"/>
                                        </svg>     
                                    </div>                               
                                </div>
                            </div>
                        </div>
                        <div  class="me-account-profile-shape">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" height="50" width="100%"> <path class="exqute-fill-white" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3 c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3 c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path></svg>
                        </div>
                        <div class="me-my-profile-body">
                            <ul>
                                <li>
                                    <div class="me-profile-data">
                                        <p>STK</p>
                                    </div>
                                    <div class="me-profile-data">
                                        <p>1</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="me-profile-data">
                                        <p>Chủ TK</p>
                                    </div>
                                    <div class="me-profile-data">
                                        <p>Hoang Nguyen Dai</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="me-profile-data">
                                        <p>Email</p>
                                    </div>
                                    <div class="me-profile-data">
                                        <p>hndai.17ck1@gmail.com</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="me-profile-data">
                                        <p>SDT</p>
                                    </div>
                                    <div class="me-profile-data">
                                        <p>7894xxxxxxxx123</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="me-profile-data">
                                        <p>Tên NH</p>
                                    </div>
                                    <div class="me-profile-data">
                                        <p>VPBank - NH Viet Nam Thinh Vuong (VPBank)</p>
                                    </div>
                                </li>                                
                                <li>
                                    <div class="me-profile-data">
                                        <p>Date of issue</p>
                                    </div>
                                    <div class="me-profile-data">
                                        <p>2014-01-10</p>
                                    </div>
                                </li>
                                <li><button class="me-btn" data-toggle="modal" data-target="#meUpdate">Update</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="me-account-summary">
                        <div class="me-account-summary-head">
                            <div>
                                <h4>Account detail</h4>
                            </div>
                        </div>
                        <div class="me-account-summary-body me-account-money-detail">
                            <ul>
                                <li>
                                    <div class="me-summary-data">
                                        <p>Account</p>
                                        <p><strong>$4,56,966.00</strong></p>
                                    </div>
                                    <div class="me-summary-data-add">                                        
                                        <button data-toggle="modal" data-target="#meTransfer">Transfer</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="me-summary-data">
                                        <p>Account saving</p>
                                        <p><strong>$85,259.99</strong></p>
                                    </div>
                                    <div class="me-summary-data-add">
                                        <button data-toggle="modal" data-target="#meTransfer">Loaded</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="me-account-summary">
                        <div class="me-account-summary-head">
                            <div>
                                <h4>Recent status</h4>
                            </div>
                            <div class="me-account-summary-head-form">
                                <input type="text" placeholder="Search" />
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 339.921 339.921">
                                    <g>
                                        <path d="M335.165,292.071l-81.385-84.077c-5.836-6.032-13.13-8.447-16.29-5.363
                                            c-3.171,3.062-10.47,0.653-16.306-5.379l-1.164-1.207c36.425-47.907,32.89-116.499-10.851-160.24
                                            c-47.739-47.739-125.142-47.739-172.875,0c-47.739,47.739-47.739,125.131,0,172.87c44.486,44.492,114.699,47.472,162.704,9.045
                                            l0.511,0.533c5.825,6.032,7.995,13.402,4.814,16.469c-3.166,3.068-1.012,10.443,4.83,16.464l81.341,84.11
                                            c5.836,6.016,15.452,6.195,21.49,0.354l22.828-22.088C340.827,307.735,340.99,298.125,335.165,292.071z M182.306,181.81
                                            c-32.852,32.857-86.312,32.857-119.159,0.011c-32.852-32.852-32.847-86.318,0-119.164c32.847-32.852,86.307-32.847,119.148,0.005
                                            C215.152,95.509,215.152,148.964,182.306,181.81z"/>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="me-account-summary-body">
                            <ul>
                                <li>
                                    <div class="me-summary-data">
                                        <p>Last withdrawl</p>
                                        <p><strong>$5,629.00</strong></p>
                                    </div>
                                    <div class="me-summary-data">
                                        <p class="me-data-success">Successful</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="me-summary-data">
                                        <p>Last invest</p>
                                        <p><strong>$2,951.00</strong></p>
                                    </div>
                                    <div class="me-summary-data">
                                        <p class="me-data-success">Successful</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Footer -->
<div class="me-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="me-footer-block">
                    <div class="me-logo">
                        <a href="/"><img src="assets/images/logo.svg" alt="logo" class="img-fluid"/></a>
                    </div>
                    <ul>
                        <li class="me-footer-emial">hndai.17ck1@gmail.com</li>
                        <li>0522621678</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="me-footer-block">
                    <h4>Services</h4>
                    <ul>
                        <li><a href="javascript:;">Duis aute irure</a></li>
                        <li><a href="javascript:;">voluptate velit</a></li>
                        <li><a href="javascript:;">cupidatat non</a></li>
                        <li><a href="javascript:;">Excepteur</a></li>
                        <li><a href="javascript:;">sunt in culpa</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="me-footer-block">
                    <h4>About us</h4>
                    <ul>
                        <li><a href="javascript:;">aute irure</a></li>
                        <li><a href="javascript:;">voluptate velit</a></li>
                        <li><a href="javascript:;">cupidatat</a></li>
                        <li><a href="javascript:;">Excepteur</a></li>
                        <li><a href="javascript:;">sunt culpa</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="me-footer-block">
                    <h4>Address</h4>
                    <ul>
                        <li>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</li>
                    </ul>
                    <ul class="me-footer-share">
                        <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Copyright Footer -->
<div class="me-footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="me-copyright-block">
                    <p>&copy; 2020 copyright all right reserved by <a href="javascript:;">trade coin</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Rate -->
<div id="me-rate">
    <p>
        <span>EUR/USD -0.54559%</span>
        <span>USD/JPY -0.12283%</span>
        <span>GBP/USD -0.44243%</span>
        <span>USD/CHF +0.15403%</span>
        <span>USD/CAD +0.03873%</span>
        <span>EUR/JPY -0.66775%</span>
        <span>AUD/USD -0.59356%</span>
        <span>CNY/USD +0.10728%</span>
        <span>EUR/USD -0.54559%</span>
        <span>USD/JPY -0.12283%</span>
        <span>GBP/USD -0.44243%</span>
        <span>USD/CHF +0.15403%</span>
        <span>USD/CAD +0.03873%</span>
        <span>EUR/JPY -0.66775%</span>
    </p>
</div>
<!--Update-->
<div class="modal fade me-login-model" id="meUpdate">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close me-team-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <h1 class="me-login-title">Update Account</h1>
                <form method="POST" enctype="multipart/form-data">
                    <div class="me-login-form">
                        <input type="text" placeholder="Displayname" id="displayname-sign" name="displayname-sign"/>
                        <input type="text" placeholder="Email" id="email-sign" name="email-sign"/>
                        <input type="password" placeholder="Password" id="password-sign" name="password-sign"/>
                        <input type="password" placeholder="Confirm Password" id="confirm-password-sign" name="confirm-password-sign"/>
                        <li>Paper type</li>
                              <input type="file" class="form-control-file" id="paper-type-sign" name="paper-type-sign">
                        <input type="text" placeholder="Paper Number" id="paper-number-sign" name="paper-number-sign"/>
                        <input type="text" placeholder="date of issue" id="date-of-issue-sign" name="date-of-issue-sign"/>                        
                        <button class="me-btn">Ok</button>
                    </div>
                </form>
                <div class="me-login-with-social">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Transfer-->
<div class="modal fade me-login-model" id="meTransfer">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close me-team-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="me-about-two-box">
                <div class="me-about-two-shape">
                    <div class="me-about-round-shape">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 890.5 890.5">
                        <g>
                            <path d="M208.1,180.56l355-96.9l-18.8-38c-12.3-24.7-42.3-34.9-67-22.6l-317.8,157.5H208.1z"/>
                            <path d="M673.3,86.46c-4.399,0-8.8,0.6-13.2,1.8l-83.399,22.8L322,180.56h289.1h126l-15.6-57.2
                                C715.5,101.06,695.3,86.46,673.3,86.46z"/>
                            <path d="M789.2,215.56h-11.4h-15.5h-15.5H628.5H193.8h-57h-48h-8.9H50.1c-15.8,0-29.9,7.3-39.1,18.8c-4.2,5.3-7.4,11.4-9.2,18.1
                                c-1.1,4.2-1.8,8.6-1.8,13.1v6v57v494.1c0,27.601,22.4,50,50,50h739.1c27.601,0,50-22.399,50-50v-139.5H542.4
                                c-46.9,0-85-38.1-85-85v-45.8v-15.5v-15.5v-34.4c0-23,9.199-43.899,24.1-59.199c13.2-13.601,30.9-22.801,50.7-25.101
                                c3.3-0.399,6.7-0.6,10.1-0.6h255.2H813h15.5h10.6v-136.5C839.2,237.96,816.8,215.56,789.2,215.56z"/>
                            <path d="M874.2,449.86c-5-4.6-10.9-8.1-17.5-10.4c-5.101-1.699-10.5-2.699-16.2-2.699h-1.3h-1h-15.5h-55.9H542.4
                                c-27.601,0-50,22.399-50,50v24.899v15.5v15.5v55.4c0,27.6,22.399,50,50,50h296.8h1.3c5.7,0,11.1-1,16.2-2.7
                                c6.6-2.2,12.5-5.8,17.5-10.4c10-9.1,16.3-22.3,16.3-36.899v-111.3C890.5,472.16,884.2,458.959,874.2,449.86z M646.8,552.36
                                c0,13.8-11.2,25-25,25h-16.6c-13.8,0-25-11.2-25-25v-16.6c0-8,3.7-15.101,9.6-19.601c4.3-3.3,9.601-5.399,15.4-5.399h4.2H621.8
                                c13.8,0,25,11.199,25,25V552.36L646.8,552.36z"/>
                        </g>
                    </svg>
                    <ul class="me-svg-dot">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    </div>
                <h4>Upgrade Wallet</h4>
                <ul class="me-about-two-list">
                    <li>
                        <input type="text" placeholder="Invest Money" id="invest-money" name="invest-money"/>
                        <svg viewBox="-29 0 487 487.71902" xmlns="http://www.w3.org/2000/svg">
                            <path d="m220.867188 266.175781c-.902344-.195312-1.828126-.230469-2.742188-.09375-9.160156-1.066406-16.070312-8.816406-16.085938-18.035156 0-4.417969-3.582031-8-8-8-4.417968 0-8 3.582031-8 8 .023438 15.394531 10.320313 28.878906 25.164063 32.953125v8c0 4.417969 3.582031 8 8 8s8-3.582031 8-8v-7.515625c17.132813-3.585937 28.777344-19.542969 26.976563-36.953125-1.804688-17.410156-16.472657-30.640625-33.976563-30.644531-10.03125 0-18.164063-8.132813-18.164063-18.164063s8.132813-18.164062 18.164063-18.164062 18.164063 8.132812 18.164063 18.164062c0 4.417969 3.582031 8 8 8 4.417968 0 8-3.582031 8-8-.023438-16.164062-11.347657-30.105468-27.164063-33.441406v-7.28125c0-4.417969-3.582031-8-8-8s-8 3.582031-8 8v7.769531c-16.507813 4.507813-27.132813 20.535157-24.859375 37.496094s16.746094 29.621094 33.859375 29.617187c9.898437 0 17.972656 7.925782 18.152344 17.820313.183593 9.894531-7.597657 18.113281-17.488281 18.472656zm0 0"></path>
                            <path d="m104.195312 222.5c0 64.070312 51.9375 116.007812 116.007813 116.007812s116.007813-51.9375 116.007813-116.007812-51.9375-116.007812-116.007813-116.007812c-64.039063.070312-115.933594 51.96875-116.007813 116.007812zm116.007813-100.007812c55.234375 0 100.007813 44.773437 100.007813 100.007812s-44.773438 100.007812-100.007813 100.007812-100.007813-44.773437-100.007813-100.007812c.0625-55.207031 44.800782-99.945312 100.007813-100.007812zm0 0"></path>
                            <path d="m375.648438 358.230469-62.667969 29.609375c-8.652344-16.09375-25.25-26.335938-43.515625-26.851563l-57.851563-1.589843c-9.160156-.261719-18.148437-2.582032-26.292969-6.789063l-5.886718-3.050781c-30.140625-15.710938-66.066406-15.671875-96.175782.101562l.367188-13.335937c.121094-4.417969-3.359375-8.097657-7.777344-8.21875l-63.4375-1.746094c-4.417968-.121094-8.09375 3.359375-8.214844 7.777344l-3.832031 139.210937c-.121093 4.417969 3.359375 8.097656 7.777344 8.21875l63.4375 1.746094h.21875c4.335937 0 7.882813-3.449219 8-7.78125l.183594-6.660156 16.480469-8.824219c6.46875-3.480469 14.03125-4.308594 21.097656-2.308594l98.414062 27.621094c.171875.050781.34375.089844.519532.128906 7.113281 1.488281 14.363281 2.234375 21.628906 2.230469 15.390625.007812 30.601562-3.308594 44.589844-9.730469.34375-.15625.675781-.339843.992187-.546875l142.691406-92.296875c3.554688-2.300781 4.703125-6.96875 2.621094-10.65625-10.59375-18.796875-34.089844-25.957031-53.367187-16.257812zm-359.070313 107.5625 3.390625-123.21875 47.441406 1.304687-3.390625 123.222656zm258.925781-2.09375c-17.378906 7.84375-36.789062 10.007812-55.46875 6.191406l-98.148437-27.550781c-11.046875-3.121094-22.871094-1.828125-32.976563 3.605468l-8.421875 4.511719 2.253907-81.925781c26.6875-17.75 60.914062-19.574219 89.335937-4.765625l5.886719 3.050781c10.289062 5.3125 21.636718 8.242188 33.210937 8.578125l57.855469 1.589844c16.25.46875 30.050781 12.039063 33.347656 27.960937l-86.175781-2.378906c-4.417969-.121094-8.09375 3.363282-8.21875 7.777344-.121094 4.417969 3.363281 8.097656 7.777344 8.21875l95.101562 2.617188h.222657c4.332031-.003907 7.875-3.453126 7.992187-7.78125.097656-3.476563-.160156-6.957032-.773437-10.378907l64.277343-30.371093c.0625-.027344.125-.058594.1875-.089844 9.117188-4.613282 20.140625-3.070313 27.640625 3.871094zm0 0"></path>
                            <path d="m228.203125 84v-76c0-4.417969-3.582031-8-8-8s-8 3.582031-8 8v76c0 4.417969 3.582031 8 8 8s8-3.582031 8-8zm0 0"></path><path d="m288.203125 84v-36c0-4.417969-3.582031-8-8-8s-8 3.582031-8 8v36c0 4.417969 3.582031 8 8 8s8-3.582031 8-8zm0 0"></path>
                            <path d="m168.203125 84v-36c0-4.417969-3.582031-8-8-8s-8 3.582031-8 8v36c0 4.417969 3.582031 8 8 8s8-3.582031 8-8zm0 0"></path>
                        </svg></a>
                    </li> 
                </ul>                
                <button class="me-btn" data-toggle="modal" data-target="#meOTP" data-dismiss="modal" aria-label="Close">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--OTP-->
<div class="modal fade me-login-model" id="meOTP">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close me-team-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <h1 class="me-login-title">OTP</h1>
                <form method="POST" enctype="multipart/form-data">
                    <div class="me-login-form">
                        <input type="text" placeholder="OTP" id="OTP" name="OTP"/>                        
                        <button class="me-btn">Ok</button>
                    </div>
                </form>
                <div class="me-login-with-social">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/SmoothScroll.min.js"></script>
<script src="assets/js/ui_range_slider.js"></script>
<script src="assets/js/canvasjs.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>