<!-- Footer -->
<div class="me-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="me-footer-block">
                    <div class="me-logo">
                        <a href="/home"><img src="assets/images/logo.svg" alt="logo" class="img-fluid"/></a>
                    </div>
                    <ul>
                        <li class="me-footer-emial">peace.banking.17ck1@gmail.com</li>
                        <li>+11-789-6542-852</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="me-footer-block">
                    <h4>Services</h4>
                    <ul>
                        <li><a href="javascript:;">Duis aute irure</a></li>
                        <li><a href="javascript:;">voluptate velit</a></li>
                        <li><a href="javascript:;">cupidatat non</a></li>
                        <li><a href="javascript:;">Excepteur</a></li>
                        <li><a href="javascript:;">sunt in culpa</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="me-footer-block">
                    <h4>About us</h4>
                    <ul>
                        <li><a href="javascript:;">aute irure</a></li>
                        <li><a href="javascript:;">voluptate velit</a></li>
                        <li><a href="javascript:;">cupidatat</a></li>
                        <li><a href="javascript:;">Excepteur</a></li>
                        <li><a href="javascript:;">sunt culpa</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="me-footer-block">
                    <h4>Address</h4>
                    <ul>
                        <li>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</li>
                    </ul>
                    <ul class="me-footer-share">
                        <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Copyright Footer -->
<div class="me-footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="me-copyright-block">
                    <p>&copy; 2020 copyright all right reserved by <a href="javascript:;">trade coin</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Rate -->
<div id="me-rate">
    <p>
        <span>EUR/USD -0.54559%</span>
        <span>USD/JPY -0.12283%</span>
        <span>GBP/USD -0.44243%</span>
        <span>USD/CHF +0.15403%</span>
        <span>USD/CAD +0.03873%</span>
        <span>EUR/JPY -0.66775%</span>
        <span>AUD/USD -0.59356%</span>
        <span>CNY/USD +0.10728%</span>
        <span>EUR/USD -0.54559%</span>
        <span>USD/JPY -0.12283%</span>
        <span>GBP/USD -0.44243%</span>
        <span>USD/CHF +0.15403%</span>
        <span>USD/CAD +0.03873%</span>
        <span>EUR/JPY -0.66775%</span>
    </p>
</div>
<!-- Login Modal -->
<div class="modal fade me-login-model" id="meLogin">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close me-team-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <h1 class="me-login-title">Login</h1>
                <form action="/login" method="POST">
                    <div class="me-login-form">
                        <input type="text" placeholder="Username" id="email" name="email"/>
                        <input type="password" placeholder="Password" id="password" name="password"/>
                        <div class="me-remember">
                            <label>Remember Me
                                <input type="checkbox">
                                <span class="s_checkbox"></span>
                            </label>
                            <a href="javascript:;" class="me-forgot-password" data-toggle="modal" data-target="#meforgot" data-dismiss="modal" aria-label="Close" >Forgot Password ?</a>
                        </div>
                        <div class="me-login-btn">
                            <button class="me-btn">Login</button>
                            <p>Don't have an account? <a href="/register" >Sign up</a></p>
                        </div>
                    </div>
                </form>
                <div class="me-login-with-social">
                    <span>or</span>
                    <p>Login with another account</p>
                    <ul>
                        <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Signup Modal -->
<div class="modal fade me-login-model" id="meSignup">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close me-team-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <h1 class="me-login-title">Sign Up</h1>
                <form action="/register" method="post">
                    <div class="me-login-form">
                        <input type="text" placeholder="Displayname" id="displayname" name="displayname"/>
                        <input type="text" placeholder="Email" id="email" name="email"/>
                        <input type="password" placeholder="Password" id="password" name="password"/>
                        <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password"/>
                        <input type="text" placeholder="SDT" id="sdt" name="sdt"/>
                        <li>Paper type</li>
                              <input type="file" class="form-control-file" id="paper_type" name="paper_type">
                        <input type="text" placeholder="Paper Number" id="paper_number" name="paper_number"/>
                        <input type="text" placeholder="date of issue" id="date_of_issue" name="date_of_issue"/>                        
                        <div class="me-transaction-load-more">
                            <button class="me-btn">Sign up</button>
                        </div>
                    </div>
                </form>
                <div class="me-login-with-social">
                    <span>or</span>
                    <p>Login with another account</p>
                    <ul>
                        <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Forgot Modal -->
<div class="modal fade me-login-model" id="meforgot">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close me-team-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <h1 class="me-login-title">Forgot</h1>
                <form action="/forgot" method="post">
                    <div class="me-login-form">
                        <input type="text" placeholder="Email" id="email" name="email" />
                        <div class="me-login-btn">
                            <button class="me-btn">Forgot</button>
                            <p>Don't have an account? <a href="/register" >Sign up</a></p>
                        </div>
                    </div>
                </form>
                <div class="me-login-with-social">
                    <span>or</span>
                    <p>Login with another account</p>
                    <ul>
                        <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--OTP-->
<div class="modal fade me-login-model" id="meOTP">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close me-team-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <h1 class="me-login-title">OTP</h1>
                <form action="/OTP_forgot" method="post">
                    <div class="me-login-form">
                        <input type="text" placeholder="OTP" id="OTP" name="OTP"/>                        
                        <button class="me-btn">Ok</button>
                    </div>
                </form>
                <div class="me-login-with-social">
                </div>
            </div>
        </div>
    </div>
</div>
<!--UpdatePassword-->
<div class="modal fade me-login-model" id="meUpdatePassword">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close me-team-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <h1 class="me-login-title">Update Account</h1>
                <form action="/update_forgot" method="post">
                    <div class="me-login-form">
                        <input type="password" placeholder="Password" id="password" name="password"/>
                        <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password"/>                      
                        <button class="me-btn">Ok</button>
                    </div>
                </form>
                <div class="me-login-with-social">
                </div>
            </div>
        </div>
    </div>
</div>
<!--OTPimage-->
<div class="modal fade me-login-model" id="meOTPimage">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close me-team-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <h1 class="me-login-title">OTP</h1>
                <form >
                    <div class="me-login-form">
                        <input type="text" placeholder="OTP" id="OTPimage" name="OTPimage"/> 
                        <li>Paper type</li>
                              <input type="file" class="form-control-file" id="paper-type-OTPimage" name="paper-type-OTPimage">                       
                        <button class="me-btn" href="javascript:;">Ok</button>
                    </div>
                </form>
                <div class="me-login-with-social">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/SmoothScroll.min.js"></script>
<script src="assets/js/ui_range_slider.js"></script>
<script src="assets/js/canvasjs.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>